- model_class = Country
.page-header
  /*%h1=t '.title', :default => model_class.model_name.human.pluralize*/
  %h2 Choose Country you want to talk about 
  - @country_areas.each do |country_area|
    %table.table.table-striped
      %thead
        %tr
          %th= country_area.name
      %tbody
        %tr
          %td
            - Country.find_all_by_country_area_id(country_area.id).each_with_index do |country, i|
              = link_to image_tag(country.flag_image), board_list_path(country.id), :alt => country.id
              =# link_to country.name, board_list_path(country.id)
              &nbsp;

