- model_class = Country
.page-header
  /*%h1=t '.title', :default => model_class.model_name.human.pluralize*/
  %h2 Choose Country:
  - @country_areas.each do |country_area|
    = country_area.name
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
      %tbody
        - Country.find_all_by_country_area_id(country_area.id).each do |country|
          %tr
            %td= country.name

